* {
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  /* display: block; */
  text-align: center;
}

html {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23cccccc' fill-opacity='0.15'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* .App {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
} */

.title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 10px;
}

.header-container {
  position: fixed;
  top: 0px;
  bottom: 90vh;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header-container button {
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: blue;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.users-container {
  padding-top: 20vh;
  /* background-color: white; */
  /* background-color: transparent; */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23cccccc' fill-opacity='0.15'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.card__user {
  width: 30vw;
  height: 166px;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  transition: all 0.3s ease-in-out;
  /* margin-top: -100px; */
  margin: -90px auto;
  top: 20px;
}

.card__user:not(:last-child):hover {
  transform: translateY(-50px);
}

.card__user ul {
  list-style: none;
  padding: 0;
}

.card__user ul li {
  font-size: 1rem;

  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
}

.card__user ul li span {
  font-weight: bold;
}

.card__user span {
  color: rgb(118, 118, 118);
}
.card__user .card-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__delete {
  width: 100px;
  margin: 10px 10px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.button__edit {
  width: 100px;
  margin: 10px 10px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: blue;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.form__user {
  width: 40vw;
  height: 80vh;
  min-width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__user label {
  /* min-width: 290px; */
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 2px 0;
  padding: 0 20px;
  text-align: left;
  display: block;
}

.form__user input {
  min-width: 300px;
  font-family: inherit;
  width: 35vw;
  /* height: 50px; */
  margin: 10px 0;
  padding: 8px 10px;
  border: 1px solid #003;
  border-radius: 5px;
  /* outline: none; */
  background-color: #f9fafc;
  transition: all 0.3s ease-in-out;
}

.form__user input:focus {
  border: 1px solid #000;
}

.button__submit {
  min-width: 200px;
  width: 30vw;
  height: 50px;
  margin: 30px 0;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: rgba(34, 34, 160, 0.587);
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}
.button-close:hover {
  transform: scale(1.1);
  background-color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  /* padding: 20px; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  font-size: 10px;
  padding: 10px;
  text-align: left;
  display: block;
  height: 10px;
}

/* Modal */

.container-form {
  position: fixed;
  /* background-color: #0003; */
  backdrop-filter: blur(2px);
  z-index: 1000;
  top: 0;
  min-height: 100vh;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.disable-form {
  display: none;
}

.container-form h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 10px;
}

/* media querys */

@media screen and (max-width: 400px) {
  .card__user {
    width: 80vw;
    height: 180px;
    min-width: 350px;
    margin-top: 10px;
    translate: 0 60px;
    top: -80px;
  }

  .form__user {
    width: 80vw;
    height: 90vh;
    min-width: 350px;
  }
  .form__user label {
    font-size: 14px;
  }
  .form__user input {
    font-size: 10px;
  }

  .button__delete {
    font-size: 0.8rem;
    width: 100px;
  }
  .button__edit {
    font-size: 0.8rem;
    width: 100px;
  }
  .button-close {
    top: 40px;
    right: 20px;
  }
  .button-close:hover {
    transform: scale(1.1);
    background-color: transparent;
  }
}
